.root {
  max-width: 900px;
  margin: auto;
  font-family: sans-serif;
}

.logo {
  height: 100px;
  margin: auto;
  display: block;
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.2);
  }
}
