:root {
  --brand-color: #dd0031;
  --light-gray-color: #eee;
  --gray-color: #666;
}

.logo {
  height: 100px;
  margin: auto;
  display: block;
}

.orderings {
  display: flex;
  flex-direction: column;

  @media (min-width: 700px) {
    flex-direction: row;
    padding: 20px 0;
  }
}

.ordering {
  flex: 0 1 100%;
  margin: 5px 0;
  height: 32px;
  border: 0;
  border-radius: 2px;
  background-color: var(--light-gray-color);
  color: var(--gray-color);
  outline: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;

  &[data-active='true'] {
    background-color: var(--brand-color);
    color: #fff;
  }

  @media (min-width: 700px) {
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.user {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 5px 0;
  border-bottom: 1px solid var(--light-gray-color);

  & > div {
    margin: 0 5px;
  }
}

.user-avatar {
  height: 48px;
  max-width: 48px;
  margin-right: 10px;
}

.user-login {
  flex-grow: 1;
}
