@import './colors.css';

@custom-media --desktop (min-width: 700px);

.button {
  min-height: 32px;
  border: 0;
  border-radius: 2px;
  background-color: var(--light-gray-color);
  color: var(--gray-color);
  outline: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: center;
  font-size: 12px;
}

.orderings {
  display: flex;
  flex-direction: column;

  @media (--desktop) {
    flex-direction: row;
    padding: 20px 0;
  }
}

.ordering {
  composes: button;
  flex: 0 1 100%;
  margin: 5px 0;

  &[data-active='true'] {
    background-color: var(--brand-color);
    color: #fff;
  }

  @media (--desktop) {
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.user {
  display: flex;
  align-items: center;
  min-height: 48px;
  padding: 5px 0;
  border-bottom: 1px solid var(--light-gray-color);
  text-decoration: none;
  color: initial;

  & > div {
    margin: 0 5px;
  }
}

.rank {
  flex: 0 0 48px;
  text-align: center;
}

.user-avatar {
  height: 48px;
  max-width: 48px;
  margin-right: 10px;
  border-radius: 50%;
}

.user-login {
  flex-grow: 1;
  font-size: 18px;
}

.stats {
  display: flex;
  flex-direction: column;

  @media (--desktop) {
    flex-direction: row;
  }
}

.stat {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media (--desktop) {
    flex: 0 1 70px;
  }
}

.stat-icon {
  width: 16px;
  height: 16px;
  margin: 0 5px;
}

.load-more {
  composes: button;
  margin: 20px auto;
  max-width: 100px;
}
