:root {
  --brand-color: #dd0031;
  --light-gray-color: #eee;
  --gray-color: #666;
}

.root {
  max-width: 600px;
  margin: auto;
  padding-top: 20px;
}

.profile {
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid #eee;
}

.avatar {
  flex: 0 0 25%;
  max-width: 25%;
  display: flex;
  align-items: center;

  & img {
    width: 100%;
  }
}

.info {
  padding: 0 20px;
  flex: 1 1 calc(100% - 240px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #333;

  & h1,
  & h2 {
    margin: 5px 0;
    word-break: break-word;
  }

  & a {
    color: var(--brand-color);
    text-decoration: none;
  }
}

.stats {
  flex: 1 1 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  height: 100px;
}

.stat {
  flex: 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.stat-icon {
  width: 24px;
  height: 24px;
  margin: 0 5px;
}

.repo {
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid var(--light-gray-color);
  text-decoration: none;
  color: initial;
}

.repo-stat {
  display: flex;
  align-items: center;
}

.repo-stat-icon {
  width: 16px;
  height: 16px;
  margin: 0 5px;
}
